@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --background-color: rgba(0, 0, 0, 0.2);
    --text-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 2rem;
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(136, 198, 252);
    color: var(--text-color);
}

#search-bar{
    float: right;
    width: 100%;
    max-width: 300px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
    text-align: right;
}

#input-value{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0.3rem 0.5rem;
    color: var(--text-color);
} 

::placeholder{
    color: var(--text-color);
}

#search-button{
    width: 1.5rem;
    font-size: 1.1rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: var(--text-color);
}

#search-button :hover{
    color: rgb(190, 190, 190);
}

#seven-days-container{
    float: left;
}

#seven-days-button{                
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin: 2px;
    cursor: pointer;
    border-radius: 8px;
}

#seven-days-button:hover{
     background-color: rgba(0, 0, 0, 0.2);
}

.display-content{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 96vw;
}

.content-left{
    margin: 1rem;
    background: var(--background-color);
    border-radius: 15px;
    padding: 3rem;
    margin-top: 0;
}

#city,
#day-date,
#weather-condition,
#temperature,
#max-min{
    margin-bottom: 0.5rem;
}

#city{
    font-size: 2rem;
}

#day-date,
#weather-condition{
    font-size: 1.25rem;
}

#weather-condition{
    text-transform: capitalize;
}

#temperature{
    font-size: 5rem;
}

#max-min{
    display: flex;
}

#max-temp,
#min-temp{
    font-size: 1.25rem;
    margin-right: 1rem;
}

#windspeed,
#pressure,
#humidity{
    background: var(--background-color);
    border-radius: 15px;
    padding: 2.5rem 3rem;
    margin: 2.5rem 2rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

/* Styles for SevenDays.html */
.home-button{
    float: left;
    background-color: rgb(0, 0, 0);
    border: none;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin: 2px;
    cursor: pointer; 
    border-radius: 8px;
}

.home-button:hover{
    background: rgba(0, 0, 0, 0.2); 
}

.home-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.table-container{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.seven-days-data{
    background:rgba(0, 0, 0, 0.2); 
    border-radius: 18px;
}

th{
    font-size: 1.2rem;
    font-weight: bolder;
}

tr{
    text-align: center;
}


/* Media Queries */
/* For medium devices */
@media screen and (max-width: 768px){
    body{
        margin-left: 1rem;
    }
    
    #search-bar{
        float: none;
        margin: 1.5rem auto 0;
    }

    #seven-days-container{
        float: none;
        text-align: center;
        margin-bottom: 0.25rem;
    }

    #seven-days-button{
        font-size: 0.75rem;
        margin-top: 1rem; 
    }

    .display-content{
        display: block;
        height: auto;
        padding: 1rem;
        text-align: center;
    }

    .content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    #city{
        font-size: 2rem;
    }

    #day-date,
    #weather-condition{
        font-size: 1.25rem;
    }

    #temperature{
        font-size: 3.5rem;
    }

    #max-temp,
    #min-temp{
        font-size: 1rem;
    }

    .content-right{
        display: flex;
    }

    #windspeed,
    #pressure,
    #humidity{
        padding: 1rem;
        margin: 1rem 1rem;
        font-size: 1.1rem;
        width: 27vw;
        text-align: center;
    }

    /* Styles for SevenDays.html */
    .home-button{
        padding: 0.75rem ;
        font-size: 0.8rem;
    }

    h2{
        font-size: 1.25rem;
    }

    .table-container{       
        margin-top: 1.5rem;
    }
    
    .seven-days-data{
        border-collapse: collapse; /* Remove cell spacing */
        width: 100%;
    }
    
    th,
    td{
        padding: 0.5rem;
    }

    th{
        font-size: 0.8rem;
    }
    
    tr{
        font-size: 0.8rem;
    }
}

/* For small devices */
@media screen and (max-width: 468px){
    body{
        margin-left: 0.5rem;
    }
    
    #search-bar{
        max-width: 250px;
        max-height: 2rem;
    }

    #seven-days-button{
        padding: 0.75rem;
    }

    .display-content{
        padding: 0.5rem;
    }

    .content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #city{
        font-size: 1.5rem;
    }

    #temperature{
        font-size: 3rem;
    }

    #day-date,
    #weather-condition,
    #max-temp,
    #min-temp{
        font-size: 1rem;
    }

    #windspeed,
    #pressure,
    #humidity{
        font-size: 1rem;
        width: 40vw;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h2{
        font-size: 1rem;
    }
}